.container {
  max-width: 98rem;
  margin: 0 auto;
  /* padding: 2rem; */
  /* background-color: brown; */
}

.content {
  background-color: blue;
  margin: 3.2rem auto;
}

.container-fluid {
  max-width: auto;
}
