* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem; /* 16px */
  color: var(--text-default);
  background-color: var(--gray-900);
}

.container {
  max-width: 98rem;
  margin: 0 auto;
  /* padding: 2rem; */
  background-color: brown;
}

.content {
  background-color: blue;
  margin: 3.2rem auto;
}
